<div class="card">
  <h2>Asignar Compras</h2>

  <!-- FILTRO POR RANGO DE FECHAS -->


  <br>
  <div *ngIf="loading" class="spinner-container">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <app-mi-table [columns]="columns" [data]="filteredDeposits" *ngIf="!isMobile">
    <ng-template #actionTemplate let-dep>
      <p-button icon="pi pi-check-square" title="Asignar" styleClass="p-button-rounded p-button-sm"
        (click)="openAssignModal(dep)">
      </p-button>

    </ng-template>
  </app-mi-table>

  <div *ngIf="isMobile">
    <app-card-list [data]="filteredDeposits" [columns]="[
        { label: 'Cuenta', field: 'nameAccount' },
        { label: 'Monto', field: 'amount' },
        { label: 'Fecha', field: 'date' }
      ]">


      <ng-template #cardActionTemplate let-dep>
        <button pButton type="button" label="Asignar" class="p-button-sm p-button-success"
          (click)="openAssignModal(dep)">
        </button>
      </ng-template>
    </app-card-list>
  </div>

  <p-dialog header="Asignar Compra" [(visible)]="displayModal" [modal]="true" [style]="{ width: '400px' }"
    (onHide)="closeModal()">
    <div *ngIf="selectedDeposit" class="p-fluid">
      <div class="p-field" style="margin-bottom: 1rem;">
        <label><strong>Cuenta:</strong> {{ selectedDeposit.nameAccount }}</label>
      </div>

      <div class="p-field" style="margin-bottom: 1rem;">
        <label><strong>Monto:</strong> {{ selectedDeposit.amount| number:'1.0-2' }}</label>
      </div>

      <div class="p-field" style="margin-bottom: 1rem;">
        <label for="rateInput"><strong>Tasa de compra</strong></label>
        <input id="rateInput" type="number" pInputText [(ngModel)]="purchaseRate"
          [ngClass]="{ 'p-invalid': isRateInvalid }" placeholder="Ingrese tasa" style="width:100%" inputmode="numeric"
          (ngModelChange)="validateRate()" />
        <small *ngIf="isRateInvalid" class="p-error">
          La tasa debe ser mayor o igual a 3500
        </small>
      </div>

      <div class="p-field" style="margin-bottom: 1rem;">
  <label><strong>Asignar a:</strong></label>
  <p-dropdown 
    [options]="[
      { label: 'Proveedor', value: 'proveedor' },
      { label: 'Cliente', value: 'cliente' }
    ]" 
    [(ngModel)]="assignType"
    placeholder="Seleccionar tipo"
    [style.width.%]="100"
    [appendTo]="'body'">
  </p-dropdown>
</div>

<!-- Dropdown dinámico -->
<div *ngIf="assignType === 'proveedor'" class="p-field" style="margin-bottom: 1rem;">
  <label><strong>Proveedor</strong></label>
  <p-dropdown 
    [options]="suppliers" 
    optionLabel="name" 
    optionValue="id"
    placeholder="Selecciona proveedor"
    [(ngModel)]="selectedSupplierId"
    [style.width.%]="100"
    [appendTo]="'body'">
  </p-dropdown>
</div>

<div *ngIf="assignType === 'cliente'" class="p-field" style="margin-bottom: 1rem;">
  <label><strong>Cliente</strong></label>
  <p-dropdown 
    [options]="clientes" 
    optionLabel="nombre" 
    optionValue="id"
    placeholder="Selecciona cliente"
    [(ngModel)]="selectedClienteId"
    [style.width.%]="100"
    [appendTo]="'body'">
  </p-dropdown>
</div>

    </div>

    <ng-template pTemplate="footer">
      <button pButton type="button" label="Cancelar" class="p-button-text" (click)="closeModal()"></button>
      <button pButton type="button" label="Guardar" (click)="saveAssignment()"
        [disabled]="!purchaseRate || isRateInvalid || !selectedSupplierId"></button>
    </ng-template>
  </p-dialog>