.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Puedes ajustar este valor */
}


.card-mobile {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px 0;
  padding: 12px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-field {
  margin-bottom: 4px;
}

.card-button {
  flex-shrink: 0;
}

.mobile-cards-container {
  .paginable {
    display: true; /* Muestra la paginación en la vista móvil */
  }
}

:host ::ng-deep .p-button.p-button-sm.p-button-rounded {
  width: 1.8rem;
  height: 1.8rem;
  padding: 0;
  font-size: 0.75rem; /* tamaño del ícono */
  display: flex;
  border-radius: 15px;
  background-color: green;
}