.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header-title {
  flex-grow: 1;
  text-align: center;
}


.p-button.p-button-success.p-button-rounded {
  background: #28a745 !important; /* A common shade of green */
  border-color: #28a745 !important;
  color: white; /* Make sure the text color is still visible */
}
