<div class="ng-container">
  <h1>Gastos</h1>
</div>
<div class="button-container">
 <p-button icon="pi pi-plus" styleClass="p-button-success p-button-rounded" title="Nuevo Gasto" (click)="openNew()"></p-button>
</div>

<!--componente table reutilizable--><br>

<app-mi-table [columns]="columns" [data]="gastos">
    
  </app-mi-table>

<p-dialog [(visible)]="productDialog" header="Nuevo Gasto" [modal]="true" [style]="{ width: '400px' }">
  <div class="p-fluid p-formgrid p-grid">

    <!-- Tipo de pago -->
    <div class="p-field p-col-12">
      <label>Forma de pago</label>
      <p-dropdown [(ngModel)]="tipoPago" [options]="[
          { label: 'Cuenta COP', value: 'cuenta' },
          { label: 'Caja (efectivo)', value: 'caja' }
        ]"
        placeholder="Seleccione tipo de pago">
      </p-dropdown>
    </div>
<br>
    <!-- Selección de cuenta COP -->
    <div *ngIf="tipoPago === 'cuenta'" class="p-field p-col-12">
      <label>Cuenta COP</label>
      <p-dropdown
        [options]="cuentas"
        optionLabel="name"
        optionValue="id"
        [(ngModel)]="cuentaSeleccionadaId"
        [filter]="true"
        placeholder="Seleccione una cuenta"
        [appendTo]="'body'">
        <ng-template let-cuenta pTemplate="item">
          <div class="p-d-flex p-jc-between">
            <span>{{ cuenta.name }}</span>
            <small>{{ cuenta.balance | currency:'USD' }}</small>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
<br>
    <!-- Selección de caja -->
    <div *ngIf="tipoPago === 'caja'" class="p-field p-col-12">
      <label>Caja</label>
      <p-dropdown
        [options]="cajas"
        optionLabel="name"
        optionValue="id"
        [(ngModel)]="cajaSeleccionadaId"
        [filter]="true"
        placeholder="Seleccione una caja"
        [appendTo]="'body'">
        <ng-template let-caja pTemplate="item">
          <div class="p-d-flex p-jc-between">
            <span>{{ caja.name }}</span>
            <small>{{ caja.saldo | currency:'USD' }}</small>
          </div>
        </ng-template>
      </p-dropdown>
    </div>

    <!-- Campos comunes -->
    <div class="p-field p-col-12">
      <label>Descripción</label>
      <input pInputText [(ngModel)]="nuevoGasto.descripcion" />
    </div>
<br>
    <div class="p-field p-col-12">
      <label>Monto</label>
      <input type="number" pInputText [(ngModel)]="nuevoGasto.monto" inputmode="numeric" />
    </div>
    <br>
    <div class="p-col-12">
      <button
        pButton
        label="Guardar"
        class="p-button-success p-mt-2"
        (click)="crearGasto()"
        [disabled]="!nuevoGasto.descripcion || !nuevoGasto.monto">
      </button>
    </div>
  </div>
</p-dialog>
