<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-table #dt [value]="products" [columns]="cols" [rows]="10"
               [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
               currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts"
               selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Lista P2P</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-calendar"></i>
              <input pInputText type="date" (input)="onDateFilter(dt, $event)" placeholder="Filter by date..." class="w-full sm:w-auto"/>
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
            <th *ngFor="let col of cols" pSortableColumn="{{col.field}}">{{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td><p-tableCheckbox [value]="product"></p-tableCheckbox></td>
            <td *ngFor="let col of cols">{{ product[col.field] }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
