<!-- Barra para volver al hub de Saldos (Asignar ya no está en el sidebar). -->
<div class="asig-backbar">
  <button type="button" class="asig-back-btn" (click)="volverSaldos()">
    <i class="pi pi-arrow-left"></i> Saldos
  </button>
  <span class="asig-back-title">Asignar</span>
</div>

<p-tabView [(activeIndex)]="tabIndex">
    <p-tabPanel header="ASIGNACIONES">
      <app-asignaciones-tab />
    </p-tabPanel>

    <p-tabPanel header="VENTAS PENDIENTES">
      <app-ventas-pendientes></app-ventas-pendientes>
    </p-tabPanel>

    <!-- <p-tabPanel header="CAJAS">
      <app-cajas-tab></app-cajas-tab>
    </p-tabPanel> -->
    <p-tabPanel header="DEDUCCIONES">
      <app-deducciones></app-deducciones>
    </p-tabPanel>
    <p-tabPanel header="GASTOS">
      <app-gastos></app-gastos>
    </p-tabPanel>
    <p-tabPanel header="CAMBIOS ARABES">
      <app-container></app-container>
    </p-tabPanel>
    <!-- TRASPASOS se movió a Movimientos (no tenía sentido tenerlo en Asignar). -->
  </p-tabView>
  