<p-accordion [multiple]="true">

  <p-accordionTab header="Compras">
    <app-asignaciones-compras></app-asignaciones-compras>
  </p-accordionTab>

  <p-accordionTab header="Ventas">
    <app-asignaciones-ventas></app-asignaciones-ventas>
  </p-accordionTab>

  <!-- ✅ P2P en una sola sección -->
  <p-accordionTab header="P2P" class="asig-scroll">
    <p-accordion [multiple]="true">

      <p-accordionTab header="Compras P2P">
        <app-asignaciones-comprap2p></app-asignaciones-comprap2p>
      </p-accordionTab>

      <p-accordionTab header="Ventas P2P">
        <app-asignaciones-ventap2p></app-asignaciones-ventap2p>
      </p-accordionTab>

    </p-accordion>
  </p-accordionTab>

</p-accordion>
