<!-- src/app/components/traspasos-tab/traspasos-tab.component.html -->
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<p-table [value]="traspasos" [paginator]="true" [rows]="10" [responsiveLayout]="'scroll'">
  <ng-template pTemplate="header">
    <tr>
      <th>Fecha</th>
      <th>Cuenta Origen</th>
      <th>Cuenta Destino</th>
      <th>Monto</th>
      
      <th>Tipo</th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-traspaso>
    <tr>
      <td>{{ traspaso.fecha | date:'short' }}</td>
      <td>{{ traspaso.cuentaFrom }}</td>
      <td>{{ traspaso.cuentaTo }}</td>
      <td>{{ traspaso.monto | currency:'USD' }}</td>
      
      <td>{{ traspaso.tipo }}</td>
      <td>
        <button pButton type="button" label="Confirmar traspaso" icon="pi pi-check" (click)="confirmarTraspaso(traspaso)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
