<div class="grid">
  <div class="col-12">
    <!-- Tarjeta para la tabla Operativo -->
    <div class="card px-6 py-6">
      <p-table #dt [value]="products" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]"
               [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
        <ng-template pTemplate="caption">
          <!-- Contenedor para título y filtro de fecha -->
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Otros gastos</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-calendar"></i>
              <input pInputText type="date" (input)="onDateFilter(dt, $event)" placeholder="Filter by date..." class="w-full sm:w-auto"/>
            </span>
          </div>
          <!-- Contenedor separado para el botón New, con estilo diferenciado utilizando clases de PrimeNG -->
        <div class="mt-2 flex justify-content-end p-shadow-2" style="background-color: #f8f9fa; padding: 10px; border-radius: 5px;">
          <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success" (click)="openNew()"></button>
        </div>

        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="date">Fecha <p-sortIcon field="date"></p-sortIcon></th>
            <th pSortableColumn="description">Descripción <p-sortIcon field="description"></p-sortIcon></th>
            <th pSortableColumn="monto">Monto <p-sortIcon field="monto"></p-sortIcon></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product.date | date:'mediumDate' }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.monto | currency:'USD' }}</td>

          </tr>
        </ng-template>
      </p-table>
    </div>



  </div>
</div>

<p-dialog [visible]="paymentDialogVisible" header="Nuevo pago" modal="true" class="p-fluid">
  <ng-template pTemplate="content">
    <!-- Fecha de pago -->
    <div class="field">
      <label for="paymentDate">Fecha de Pago</label>
      <p-calendar id="paymentDate" [(ngModel)]="paymentDetails.paymentDate" inputId="paymentDate" [showIcon]="true" [readonlyInput]="true"></p-calendar>
    </div>

    <!-- Descripción -->
    <div class="field">
        <label for="description">Descripción</label>
        <input type="text" pInputText id="description" [(ngModel)]="paymentDetails.description" required />
    </div>

    <!-- Monto a pagar -->
    <div class="field">
        <label for="amount">Monto a Pagar</label>
        <p-inputNumber id="amount" [(ngModel)]="paymentDetails.amount" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
    </div>
</ng-template>

<ng-template pTemplate="footer">
    <button pButton label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton label="Guardar" icon="pi pi-check" class="p-button-text" (click)="savePayment()"></button>
</ng-template>
</p-dialog>
