<p-table [value]="gastos" [paginator]="true" [rows]="10">
  <ng-template pTemplate="header">
    <tr>
      <th>Fecha</th>
      <th>Descripción</th>
      <th>Monto</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-gasto>
    <tr>
      <td>{{ gasto.fecha | date:'mediumDate' }}</td>
      <td>{{ gasto.descripcion }}</td>
      <td>{{ gasto.monto | currency }}</td>
      <td>{{ gasto.pagado ? 'Pagado' : 'Pendiente' }}</td>
      <td>
        <button *ngIf="!gasto.pagado" pButton label="Pagar" class="p-button-success" (click)="pagar(gasto)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<button pButton label="Nuevo Gasto" class="p-button-primary" (click)="openNew()"></button>

<p-dialog [(visible)]="productDialog" header="Nuevo Gasto">
  <div class="p-fluid">
    <div class="p-field">
      <label>Descripción</label>
      <input pInputText [(ngModel)]="nuevoGasto.descripcion">
    </div>
    <div class="p-field">
      <label>Fecha</label>
      <input type="date" pInputText [(ngModel)]="nuevoGasto.fecha">
    </div>
    <div class="p-field">
      <label>Monto</label>
      <input type="number" pInputText [(ngModel)]="nuevoGasto.monto">
    </div>
    <button pButton label="Guardar" class="p-button-success" (click)="crearGasto()"></button>
  </div>
</p-dialog>
