<p-table 
  [value]="pagosOrdenados" 
  scrollable="true" 
  scrollHeight="400px"
  [responsive]="true">

  <ng-template pTemplate="header">
    <tr>
      <th>Tipo</th>
      <th>Monto</th>
      <th>Fecha</th>
      <th>Cuenta Origen</th>
      <th>Cuenta Destino</th>
      <th>Caja</th>
      <th>Cliente</th>
      <th>Proveedor</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-pago>
    <tr>
      <td>{{ pago.tipo }}</td>
      <td>{{ pago.monto | currency:'COP':'symbol':'1.0-0' }}</td>
      <td>{{ pago.fecha | date:'short' }}</td>
      <td>{{ pago.cuentaOrigen || '-' }}</td>
      <td>{{ pago.cuentaDestino || '-' }}</td>
      <td>{{ pago.caja || '-' }}</td>
      <td>{{ pago.pagoCliente || '-' }}</td>
      <td>{{ pago.pagoProveedor || '-' }}</td>
       <button pButton label="Eliminar" icon="pi pi-trash danger" (click)="eliminarMovimiento(pago)"></button>
    </tr>
  </ng-template>
</p-table>
