<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <!-- Fila con "Compras" y filtro por fecha -->
      <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center mb-4">
        <h5 class="m-0">Criptos</h5>
        <!-- Filtro por fecha en la extrema derecha -->
        <span class="block mt-2 md:mt-0 p-input-icon-left ml-auto">
          <i class="pi pi-calendar"></i>
          <input pInputText type="date" (input)="onDateFilter(dt, $event)" placeholder="Filtrar por fecha..." class="w-full sm:w-auto" />
        </span>
      </div>

        <!-- Filtro por moneda en una fila separada -->
      <div class="flex flex-column md:flex-row md:justify-content-start md:align-items-center mb-4">
        <span class="block mt-2 md:mt-0 p-input-icon-left">
          <i class="pi pi-money-bill"></i>
          <input pInputText type="text" (input)="onCurrencyFilter(dt, $event)" placeholder="Filtrar por moneda" class="w-full sm:w-auto" />
        </span>
      </div>

      <!-- Tabla -->
      <p-table #dt [value]="products" [columns]="cols" [rows]="10"
              [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts"
              selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
            <th *ngFor="let col of cols" pSortableColumn="{{col.field}}">
              {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
            </th>
            <!-- Columna extra para icono de detalles -->
            <th style="width: 3rem;"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
          <tr>
            <td><p-tableCheckbox [value]="product"></p-tableCheckbox></td>
            <td *ngFor="let col of cols">{{ product[col.field] }}</td>
            <!-- Ícono de detalles con dropdown -->
            <td>
              <div class="relative">
                <button
                  pButton
                  pRipple
                  icon="pi pi-eye"
                  class="p-button-warning p-button-rounded eye-button"
                  (click)="toggleDropdown(rowIndex)"></button>

                <div *ngIf="expandedRows[rowIndex]" class="dropdown-table-container">
                  <table class="dropdown-table">
                    <tr>
                      <th>Posición</th>
                      <td>{{ getRandomValue() }}</td>
                    </tr>
                    <tr>
                      <th>Comisión</th>
                      <td>{{ getRandomValue() }}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>
  </div>
</div>
