<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-table #dt [value]="balances" [columns]="cols" responsiveLayout="scroll" [rows]="10"
               [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
               currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [(selection)]="selectedProducts"
               selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Balance</h5>
            <div style="display: flex; align-items: center; gap: 10px;">
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-calendar"></i>
                    <input pInputText type="date" (input)="onDateFilter(dt, $event)" placeholder="Filtrar por fecha..." class="w-full sm:w-auto"/>
                </span>
            </div>
        </div>
        <button pButton type="button" label="Info Mes" class="p-button-success" (click)="openMonthlyInfo()"></button>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="date">Fecha <p-sortIcon field="date"></p-sortIcon></th>
                <th pSortableColumn="balance">Saldo <p-sortIcon field="balance"></p-sortIcon></th>
                <th></th> <!-- Columna vacía -->
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-product>
            <tr>
                <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td><span class="p-column-title">Fecha</span>{{product.date | date:'mediumDate'}}</td>
                <td><span class="p-column-title">Saldo</span>{{product.saldo | currency:'USD'}}</td>

                <td>
                  <button pButton type="button"
                  pRipple
                  icon="pi pi-eye"
                  class="p-button-warning p-button-rounded eye-button"
                  (click)="showDetails()"></button>
                </td>
            </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>


<p-dialog header="Información Mensual" [(visible)]="displayModal" [style]="{width: '50vw'}" [modal]="true">
  <p-table [value]="monthlyData">
    <ng-template pTemplate="header">
      <tr>
        <th>Mes</th>
        <th>Gasto</th>
        <th>USDT Vendido</th>
        <th>Restante</th>
        <th>Monto</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td>{{ data.month }}</td>
        <td>{{ data.expense | currency:'USD' }}</td>
        <td>{{ data.soldUsdt | currency:'USD' }}</td>
        <td>{{ data.remaining | currency:'USD' }}</td>
        <td>{{ data.amount | currency:'USD' }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>

<!-- Modal con los detalles -->
<p-dialog [(visible)]="showDetailsModal" [modal]="true" [style]="{ width: '300px' }" [closable]="false">
  <!-- Header personalizado -->
  <ng-template pTemplate="header">
    <div class="flex align-items-center justify-content-between w-full">
      <span>Resumen</span>
      <!-- Botón ojo solo si no se muestran los detalles avanzados -->
      <button
        *ngIf="!showAdvancedDetails"
        pButton
        pRipple
        icon="pi pi-eye"
        class="p-button-warning p-button-rounded eye-button"
        (click)="onDetailsClicked()"
        pTooltip="Ver detalles avanzados"
        tooltipPosition="left"
      ></button>
    </div>
  </ng-template>

  <!-- Contenido dinámico -->
  <div class="detail-blocks">
    <div *ngFor="let item of currentDetails" class="detail-block" [style.background-color]="item || ''">
      {{ item.label }}: <span class="detail-value">{{ item.value }}</span>
    </div>
  </div>

  <!-- Footer -->
  <ng-template pTemplate="footer">
    <button
      pButton
      [label]="showAdvancedDetails ? 'Atrás' : 'Cerrar'"
      (click)="handleCloseOrBack()"
      class="p-button-danger w-full"
    ></button>
  </ng-template>
</p-dialog>
