<p-table [value]="balances">
  <ng-template pTemplate="header">
    <tr>
      <th>Fecha</th>
      <th>Saldo</th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-balance>
    <tr>
      <td>{{ balance.date }}</td>
      <td>{{ balance.saldo | currency: 'USD' }}</td>
      <td>
        <button
          pButton
          icon="pi pi-eye"
          class="p-button-warning p-button-rounded"
          (click)="showDetails(balance)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog [(visible)]="showDetailsModal" [modal]="true" header="Detalle de Balance">
  <div *ngIf="selectedBalance">
    <p><strong>Fecha:</strong> {{ selectedBalance.date }}</p>
    <p><strong>Saldo:</strong> {{ selectedBalance.saldo | currency: 'USD' }}</p>
    <p><strong>Tasa Promedio del Día:</strong> {{ selectedBalance.tasaPromedioDelDia }}</p>
    <p><strong>Tasa Venta del Día:</strong> {{ selectedBalance.tasaVentaDelDia }}</p>
    <p><strong>Total P2P (USD):</strong> {{ selectedBalance.totalP2PdelDia | currency: 'USD' }}</p>
    <p><strong>Comisiones P2P (COP):</strong> {{ selectedBalance.comisionesP2PdelDia | currency: 'USD' }}</p>
    <p><strong>4x1000 de P2P:</strong> {{ selectedBalance.cuatroPorMilDeVentas | currency: 'USD' }}</p>
    <p><strong>Utilidad P2P:</strong> {{ selectedBalance.utilidadP2P | currency: 'USD' }}</p>
    <p><strong>Total Ventas Generales (USD):</strong> {{ selectedBalance.totalVentasGeneralesDelDia | currency: 'USD' }}</p>
    <p><strong>Utilidad Ventas Generales:</strong> {{ selectedBalance.utilidadVentasGenerales | currency: 'USD' }}</p>
  </div>

  <ng-template pTemplate="footer">
    <button pButton label="Cerrar" (click)="closeModal()" class="p-button-danger"></button>
  </ng-template>
</p-dialog>

