<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center mb-4">
        <h5 class="m-0">Lista P2P</h5>
       <!-- Filtro por fecha de inicio -->
        <span class="block mt-2 md:mt-0 p-input-icon-left ml-auto mr-2">
          <i class="pi pi-calendar-plus"></i>
          <input pInputText type="date" (input)="onDateFilterStart($event)" [max]="maxDate" placeholder="Fecha de inicio..." class="w-full sm:w-auto" />
        </span>
        <!-- Filtro por fecha fin -->
        <span class="block mt-2 md:mt-0 p-input-icon-left">
          <i class="pi pi-calendar-times"></i>
          <input pInputText type="date" (input)="onDateFilterEnd($event)" [max]="maxDate" placeholder="Fecha fin..." class="w-full sm:w-auto" />
        </span>

      </div>
      <!-- Tabla -->
      <p-table #dt [value]="products" [columns]="cols" [rows]="10"
               [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
               currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts"
               selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
            <th *ngFor="let col of cols" pSortableColumn="{{col.field}}">
              {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-product>
          <tr>
            <td><p-tableCheckbox [value]="product"></p-tableCheckbox></td>
            <td *ngFor="let col of cols">{{ product[col.field] }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="card px-6 py-6 mt-4">
      <!-- Primera fila: Título de la tabla -->
      <div class="mb-2">
        <h5 class="m-0">Nueva Tabla P2P</h5>
      </div>
     <!-- Segunda fila: Botones de filtrado -->
    <div class="flex justify-content-between mb-4">
      <!-- Grupo de botones en el extremo izquierdo -->
      <div>
      <!-- Después del cambio: select para filtrar por cuenta -->
      <!-- Select para filtrar por cuenta en la segunda tabla -->
      <select (change)="onAccountFilter($event)" class="p-inputtext p-component mr-2">
        <option value="" disabled selected>Filtro de cuentas</option>
        <option value="">Todos</option>
        <option *ngFor="let account of uniqueAccounts" [value]="account">{{ account }}</option>
      </select>



        <button pButton type="button" label="Filtro por binance" class="p-button-outlined" (click)="onBinanceFilter()"></button>
      </div>
      <!-- Botón en el extremo derecho -->
      <button pButton type="button" label="Cuentas" class="p-button-outlined"></button>
    </div>
      <!-- Tercera fila: Tabla -->
      <p-table [value]="newProducts" [columns]="newCols" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of newCols">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="newCols">
          <tr>
            <td *ngFor="let col of newCols">
              <!-- Condición para mostrar el ícono solo en la columna de detalles -->
              <ng-container *ngIf="col.icon; else normalCell">
                <button pButton pRipple icon="pi pi-info-circle" class="p-button-rounded p-button-info p-button-outlined" (click)="onShowDetails(rowData)"></button>
              </ng-container>
              <ng-template #normalCell>{{ rowData[col.field] }}</ng-template>
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>



  </div>
</div>

<p-dialog header="Detalles del Producto" [(visible)]="displayModal" [modal]="true" [style]="{width: '300px'}">
  <!-- Contenido del modal -->
  <div style="padding: 10px;">
      <!-- Tabla para la disposición del contenido -->
      <table style="width: 100%; border-collapse: collapse;">
          <tr>
              <td style="padding: 5px;">Cuenta</td>
              <td>
                  <!-- Select para la selección de la cuenta -->
                  <select (change)="onSelectAccount($event)" class="p-inputtext p-component">
                      <option value="joselito">joselito</option>
                      <option value="mateo buena honda">mateo buena honda</option>
                      <option value="traba curioso">traba curioso</option>
                  </select>
              </td>
          </tr>
          <tr>
              <td style="padding: 5px;">Comisión</td>
              <!-- Visualización de la comisión del producto seleccionado -->
              <td style="padding: 5px;">{{ selectedProduct?.commission }}</td>
          </tr>
      </table>
  </div>
</p-dialog>

<style>
/* Estilos para el modal */
.p-dialog .p-dialog-content {
  padding: 10px; /* Ajusta el padding interno para más espacio */
}

/* Estilos para la tabla dentro del modal */
.p-dialog table {
  width: 100%;
  border-collapse: collapse;
}

.p-dialog td {
  padding: 5px; /* Ajusta el padding de las celdas para alinear el contenido */
}

/* Estilos adicionales para el select dentro del modal */
.p-dialog select {
  width: 100%; /* Asegura que el select ocupe todo el espacio disponible */
  color: #333; /* Estilo del texto */
  font-size: 14px; /* Tamaño de la fuente */
  height: 34px; /* Altura adecuada para el select */
}
</style>