<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <!-- Row for "P2P List", "Date Filter", and "Additional Filters" -->
      <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center mb-4">
        <h5 class="m-0">Lista P2P</h5>
        <!-- Date Filters -->
        <div>
          <input type="date" [(ngModel)]="startDate" (change)="fetchP2POrders()" placeholder="Fecha inicio...">
          <input type="date" [(ngModel)]="endDate" (change)="fetchP2POrders()" placeholder="Fecha fin...">
        </div>
      </div>
      
      <!-- Table and other filters here as needed -->

      <p-table [value]="products" [columns]="cols">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-columns="cols">
          <tr>
            <td *ngFor="let col of columns">
              {{product[col.field]}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
