<div class="card p-p-4">
  <h2 class="p-mb-5 p-text-bold">Ventas de Hoy</h2>

  <!-- Dropdown para seleccionar la cuenta de Binance -->
  <div class="p-mb-4">
    <label for="binanceAccount">Selecciona una cuenta Binance</label>
    <p-dropdown 
      id="binanceAccount"
      [options]="binanceAccounts"
      [(ngModel)]="selectedBinanceAccount"
      optionLabel="name"
      placeholder="Seleccionar cuenta"
      (onChange)="loadTodaySales()"  
      [showClear]="true"   
    ></p-dropdown>
  </div>

  <!-- Tabla de ventas del día -->
  <!-- Tabla de ventas del día -->
<p-table [value]="todaySales" [tableStyle]="{ 'min-width': '60rem' }" *ngIf="todaySales.length > 0" >
  <ng-template pTemplate="header">
    <tr>
      <th>N° Orden</th>
      <th>Fecha</th>
      <th>Dólares</th>
      <th>Pesos COP</th>
      <th>Comisión</th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-sale>
    <tr>
      <td>{{ sale.id }}</td>
      <td>{{ sale.date | date: 'short' }}</td>
      <td>{{ sale.dollarsUs | currency }}</td>
      <td>{{ sale.pesosCop | currency }}</td>
      <td>{{ sale.commission | currency }}</td>
      <td>
        <button pButton type="button" label="Asignar" icon="pi pi-check" class="p-button-success p-button-sm" (click)="openAssignDialog(sale)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
<div *ngIf="noSalesMessage" class="p-mt-3">
  <p>{{ noSalesMessage }}</p>
</div>
</div>

<!-- Modal para asignar cuentas -->
<p-dialog 
  header="Asignar cuenta(s) a la venta"
  [(visible)]="displayAssignDialog" 
  [modal]="true" 
  [closable]="true" 
  [style]="{ width: '450px' }"
  [breakpoints]="{ '960px': '95vw' }"
>
  <div class="p-fluid p-formgrid p-grid">

    <!-- Tipo de cuenta -->
    <div class="p-field p-col-12">
      <label>¿A qué tipo de cuenta desea asignar?</label>
      <div class="p-formgroup-inline">
        <p-radioButton 
          name="accountType" 
          [value]="true" 
          [(ngModel)]="isExternal" 
          inputId="external" 
          (onChange)="handleAssignType()"
        ></p-radioButton>
        <label for="external" class="p-mr-3">Cuenta Externa</label>
        <br>
        <br>
        <p-radioButton 
          name="accountType" 
          [value]="false" 
          [(ngModel)]="isExternal" 
          inputId="colombian" 
          (onChange)="handleAssignType()"
        ></p-radioButton>
        <label for="colombian">Cuenta Colombiana</label>
      </div>
    </div>

    <!-- Si es cuenta externa -->
    <ng-container *ngIf="isExternal">
      <div class="p-field p-col-12">
        <label for="externalAccountName">Nombre de la Cuenta</label>
        <input id="externalAccountName" pInputText [(ngModel)]="externalAccountName" />
      </div>
      <div class="p-field p-col-12">
        <label for="amountExternal">Monto</label>
        <input id="amountExternal" type="number" pInputText [(ngModel)]="selectedAmount" />
      </div>
    </ng-container>

    <!-- Si es cuenta colombiana -->
    <ng-container *ngIf="!isExternal">
      <div class="p-field p-col-12">
        <label for="account">Seleccionar cuenta colombiana</label>
        <p-multiSelect 
          id="account"
          [options]="cuentasDisponibles"
          [(ngModel)]="selectedAccounts"
          optionLabel="name"
          placeholder="Seleccionar cuentas"
          [appendTo]="'body'"
        ></p-multiSelect>
      </div>
      <div class="p-field p-col-12">
        <label for="amountColombian">Monto</label>
        <input id="amountColombian" type="number" pInputText [(ngModel)]="selectedAmount" />
      </div>
    </ng-container>

  </div>

  <!-- Footer del diálogo -->
  <ng-template pTemplate="footer">
    <button 
      pButton 
      label="Cancelar" 
      icon="pi pi-times" 
      (click)="displayAssignDialog = false" 
      class="p-button-text"
    ></button>
    <button 
      pButton 
      label="Asignar" 
      icon="pi pi-check" 
      class="p-button-success" 
      (click)="assignAccounts()"
    ></button>
  </ng-template>
</p-dialog>


