.detail-blocks .detail-block {
  color: #333;
  font-size: 16px;
  border-radius: 5px;
}

.p-dialog .p-button {
  border-radius: 5px;
}
.detail-block {
  background-color: #defede;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
}
.detail-value {
  float: right;
  font-weight: bold;
}
